<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>947078134602-t83dsge5s5bfft2rr4hs8svfskr3se0n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.947078134602-t83dsge5s5bfft2rr4hs8svfskr3se0n</string>
	<key>API_KEY</key>
	<string>AIzaSyAWC-XQqnxBycg6hhYenDj1qF6h3hPnpVQ</string>
	<key>GCM_SENDER_ID</key>
	<string>947078134602</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.satoru.todoApp</string>
	<key>PROJECT_ID</key>
	<string>todo-app-fe53e</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-app-fe53e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:947078134602:ios:c4dc67cb77b5b8db909fb3</string>
</dict>
</plist>